.contentContainer {
  padding: 25px 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ctas {
  --button-primary-hover: #383838;
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-weight: 600;
}

.ctas a:hover {
  background: rgb(1, 194, 1);
  border-color: transparent;
}

a.primary {
  background: green;
  color: white;
  /* color: var(--background); */
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.description {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--font-inter);
  margin: 15px 0 30px;
  max-width: 75%;
}

.heroBackgroundImg {
  /* background-image: url('/images/wallpapers/home-page-wp.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(3px);
  z-index: -1;
}

.heroImageContainer {
  /* width: 60%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  animation-name: fadeInBottom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 650ms;
}

.heroImage {
  width: 100%;
  height: 100%;
  transform: scaleX(-1) rotate(32deg);
  max-height: 400px;
  max-width: 500px;
}

.heroTitleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;
  transform: translateX(0);
  animation-name: fadeInRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 650ms;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.title {
  font-size: 48px;
  font-family: var(--font-playful-display);
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55vh;
  position: relative;
}

/* KEYFRAMES */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* BREAK POINTS */

/* Tablet */
@media (max-width: 750px) {
  .heroImage {
    transform: scaleX(-1) rotate(32deg);
    width: 100%;
  }

  .contentContainer {
    padding: 25px 40px;
  }
}

@media (max-width: 600px) {
  .heroTitleContainer {
    text-align: center;
  }
}
