.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 10px;
  background-color: #006400a3;
  backdrop-filter: blur(3px);
  filter: saturate(0.75) drop-shadow(2px 4px 6px black);
  border: 2px solid white;
}

.error {
  margin-bottom: 12px;
  color: red;
  font-weight: 600;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formContainer input {
  padding: 5;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(164, 164, 164);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 8px;
  font-family: var(--font-lato);
  font-size: 16px;
}

.formContainer input:focus {
  outline: none;
  border: 2px solid white;
}

.formContainer input::placeholder {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.formContainer button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 12px 5px;
  margin-top: 30px;
  background-color: white;
  color: darkgreen;
  font-size: 16px;
}

.formContainer button:hover {
  background-color: #14c014a3;
  color: white;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 75px;
}

.titleContainer h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 15px;
  font-family: var(--font-cursive);
  font-weight: 500;
}

.titleContainer h5 {
  color: white;
  font-size: 18px;
  font-family: var(--font-lato);
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(0deg, yellow, rgb(1, 194, 1)); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
