.dashBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

.dashContainer {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.dashHeader {
    width: 100%;
    text-align: center;
}

.dashHeader h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}

.dashHeader h4 {
    font-size: 18px;
    font-weight: 500;
}

.featuredRecipe {
    border:2px solid white;
    height: 80%;
    width: 25%;
}

.recipeContainer {
    width: 100%;
    display: flex;
    align-items: center;
    height:75vh;
    justify-content: space-around;
}

.recipeImageContainer {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100vh;
    position: relative;
}